#allContactsList {
  background-color: lightblue;
  min-height: 550px; }

#sideBar {
  background-color: gold;
  min-height: 550px; }

.bacon {
  font-size: 50px; }

img {
  max-height: 100px;
  max-width: 100px; }
